$primary: #167d7f;
$secondary: #75ab9a;
$tertiary: #ffffff;
$button: #68aeb0;
$button-hover: #00666f;
$bg-gradient: linear-gradient(to right, #75ab9a, #29a0b1, #167d7f);
$text: #1f2937;
$text-secondary: #ffffff;
$text-accent: #4b5563;
$link: #4299e1;
$border: #d1d5db;
