:root {
  --primary-color: #75ab9a;
  --secondary-color: #29a0b1;
  --accent-color: #167d7f;
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

.column {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 4rem;
}

/* Nav Header */
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid #e2e2e2;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Headline (header) */
.headline-column {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d1e8e2;
  padding: 1rem;
  margin-bottom: 2rem;
}

.headline-column::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--primary-color);
  transform: skewY(3deg);
  z-index: -1;
  border-radius: 8px;
}

#headline h1 {
  font-size: 70px;
  font-weight: 700;
  background-image: conic-gradient(
    var(--primary-color) 30%,
    var(--secondary-color) 40%,
    var(--secondary-color) 70%,
    var(--accent-color) 80%,
    var(--primary-color)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.156);
}

/* Skills */
#headline .skills-icons {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  text-align: right;
  padding: 0;
  max-width: 100%;
}

.skills-icons i {
  font-size: 40px;
  margin: 18px;
  color: var(--accent-color);
  max-width: 100%; /* Limit the width of the icons */
}

/* About Me */
.about-me {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  gap: 4px;
}

.about-me-column {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid #d1e8e2;
  font-size: 28px;
  font-weight: 400;
  background-color: #f1fdf9;
  opacity: 0;
}

/* Animation */
@keyframes popUp {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.about-me-column:nth-child(1) {
  animation: popUp 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.about-me-column:nth-child(2) {
  animation: popUp 1s ease-in-out forwards;
  animation-delay: 1s;
}

.about-me-column:nth-child(3) {
  animation: popUp 1s ease-in-out forwards;
  animation-delay: 1.5s;
}

.about-me-column:nth-child(4) {
  animation: popUp 1s ease-in-out forwards;
  animation-delay: 2s;
}

.about-me-column:nth-child(5) {
  animation: popUp 1s ease-in-out forwards;
  animation-delay: 2.5s;
}

.about-me-column p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/* Projects */
#projects,
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#projects h2 {
  font-size: 32px;
}

#projects .column-main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  padding: 1rem;
}

.project-card {
  background: white;
  padding: 1rem;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 50px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-img {
  justify-content: center;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-card h3 {
  margin-top: 0.5rem;
}

.project-card p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.project-card a {
  display: flex;
  margin: 0.5rem 0;
  color: #0099ff;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Photo Gallery Section */
#photos,
#AIimg {
  padding: 20px 0;
  background-color: rgb(243, 253, 251);
}

#photos .column,
#AIimg .column {
  margin-top: 0;
  padding-top: 0;
}

.photo-gallery img {
  width: calc(33.333% - 10px);
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#AIimg .photo-gallery a {
  display: block;
  width: calc(33.333% - 10px);
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#AIimg .photo-gallery img {
  width: 100%;
  height: auto;
}

.photo-gallery img:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Contact */
#contact {
  background: var(--accent-color);
  color: white;
  padding: 2rem 0;
  text-align: center;
}

#contact a {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin: 0.5rem 0;
}

#contact a i {
  margin-right: 8px;
}

#contact a:hover {
  color: #dab137;
}

/* Footer */
footer {
  display: flex;
  background-color: #17252a;
  color: rgb(226, 226, 226);
}

footer .column {
  padding: 1rem;
  text-align: right;
  margin-right: 2px;
}

/* Loader */
#loadingInd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 100px;
  height: 100px;
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background: radial-gradient(
        closest-side at 50% 12.5%,
        var(--primary-color) 96%,
        #0000
      )
      50% 0/20% 80% repeat-y,
    radial-gradient(
        closest-side at 12.5% 50%,
        var(--secondary-color) 96%,
        #0000
      )
      0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

/* Media Queries */
@media (max-width: 1100px) {
  .column {
    width: 90%;
    padding: 2rem;
  }

  #headline h1 {
    font-size: 50px;
    margin: 2rem;
  }

  .about-me-column {
    font-size: 20px;
    margin: 0.5rem;
    padding: 1rem;
  }
  .project-card {
    width: 100%;
    margin: 1rem;
  }

  #headline .skills-icons {
    margin-left: 0;
  }

  .photo-gallery img {
    width: calc(50% - 10px);
  }
}

@media (max-width: 700px) {
  #headline h1 {
    font-size: 40px;
  }

  .photo-gallery img {
    width: 100%;
  }

  .about-me-column {
    font-size: 18px;
    padding: 0.5rem;
  }

  .headline-column {
    padding: 0;
  }

  footer .column {
    font-size: 14px;
    text-align: center;
  }

  #photos .column,
  #AIimg .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .photo-gallery img {
    width: calc(50% - 10px);
  }

  #AIimg .photo-gallery a {
    width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  #headline .skills-icons {
    overflow: hidden;
  }
}
